<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My project</title>
    <style>
        body {
            background-color: #f9f3d9;
            font-family: Arial, Helvetica, sans-serif;
            color: #333;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #f67280;
        }
        p {
            color: #6c5b7b;
            font-size: 20px;
        }
        img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
    <h1>Добро пожаловать на мою страничку!</h1>
    <img src="https://cataas.com/cat" alt="Милый котик">
    <p>Это простая, но милая HTML-страница. Приятного пребывания!</p>
    <p>Меня зовут {{ name }}!</p>
</body>
</html>
